body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.container .box {
    position: relative;
    width: 300px;
    height: 300px;
    background: #2d82b5;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}

.container .box .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #015586;
    transition: 0.5s;
    z-index: 1;
}

.container .box:hover .icon {
    top: 20px;
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.container .box .icon .fa {
    font-size: 80px;
    color: #fff;
    transition: all 0.5s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container .box:hover .icon .fa {
    font-size: 40px;
}

.container .box .content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: calc(100% - 100px);
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    transition: all 0.5s ease;
    opacity: 0;
    transform: translate(-50%, -50%);
}

.container .box:hover .content {
    opacity: 1;
    top: calc(50% + 50px);
}

.container .box .content h3 {
    margin: 0;
    padding: 10px;
    color: #fff;
    font-size: 24px;
}

.container .box .content p {
    margin: 10px 0 0;
    padding: 5px;
    color: #fff;
}

@media (max-width: 368px) {
    .container {
        flex-direction: column;
    }
}
